.join {
  display: flex;
  padding: 0 2rem;
  gap: 10rem;
}

.left-j {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  position: relative;
}

.left-j hr {
  position: absolute;
  width: 10.5rem;
  border: 2px solid var(--orange);
  border-radius: 20%;
  margin: -10px 0;
}

.left-j div {
  display: flex;
  gap: 1rem;
}

.right-j {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.email-container {
  display: flex;
  gap: 3rem;
  background-color: gray;
  padding: 1rem 2rem;
}

.email-container input {
  background-color: transparent;
  padding: 10px;
  border: 1px solid var(--lightgray);
  outline: none;
  color: var(--lightgray);
}

::placeholder {
  color: var(--lightgray);
}

.btn-j {
  background-color: var(--orange);
  color: white;
  transition: 400ms all;
}

.btn-j:hover {
  background-color: white;
  color: var(--orange);
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {

  .join {
    flex-direction: column;
    gap: 1rem;
    margin-top: -2rem;
  }
  
  .left-j {
    font-size: medium;
  }
  
  .left-j hr {
    width: 13rem;
  }

  .right-j {
    transform: scale(0.75);
    margin-bottom: -2rem;
  }
  
  .email-container {
    gap: 2rem;
  }

  .btn-j {
    white-space: nowrap;
  }

  .btn-j:hover {
    background-color: var(--orange);
    color: white;
    transform: none;
  }
}