.testimonials {
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
}

.left-t {
  display: flex;
  flex: 1 1;
  gap: 2rem;
  flex-direction: column;
  text-transform: uppercase;
  color: white;
}

.left-t>span:nth-child(1) {
  color: var(--orange);
  font-weight: bold;
}

.left-t>span:nth-child(2),
.left-t>span:nth-child(3) {
  font-weight: bold;
  font-size: 3rem;
}

.left-t>span:nth-child(4) {
  text-transform: none;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 40px;
}

.name-t {
  color: var(--orange);
}

.right-t {
  flex: 1;
  position: relative;
}

.right-t>img {
  width: 17rem;
  height: 20rem;
  object-fit: cover;
  position: absolute;
  right: 10rem;
  top: 2rem;
}

.right-t>div:nth-of-type(2) {
  position: absolute;
  width: 17rem;
  height: 20rem;
  border: 2px solid var(--orange);
  background: transparent;
  right: 11rem;
  top: .9rem;
}

.right-t>div:nth-of-type(3) {
  position: absolute;
  width: 17rem;
  height: 19rem;
  right: 7rem;
  top: 4rem;
  background: var(--planCard);
}

.arrows {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;  
}

.arrows img {
  width: 1.5rem;
  cursor: pointer;
  transition: 400ms all;
}

.arrows>img:hover {
  transform: scale(1.5);
}